FlashSales/FlashSales/Service References/API/FlashSalesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/API_FlashSales.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/API_FlashSales.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoProducto" nillable="true" type="tns:TipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoProducto" nillable="true" type="tns:ArrayOfTipoProducto" />
  <xs:complexType name="TipoProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoProducto" nillable="true" type="tns:TipoProducto" />
  <xs:complexType name="ArrayOfUnidadesProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnidadesProducto" nillable="true" type="tns:UnidadesProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidadesProducto" nillable="true" type="tns:ArrayOfUnidadesProducto" />
  <xs:complexType name="UnidadesProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadesProducto" nillable="true" type="tns:UnidadesProducto" />
  <xs:complexType name="Lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha_caducidad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Lote" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Producto" type="xs:int" />
      <xs:element minOccurs="0" name="Precio_Und" type="xs:double" />
      <xs:element minOccurs="0" name="Valor_lote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lote" nillable="true" type="tns:Lote" />
  <xs:complexType name="ArrayOfLote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lote" nillable="true" type="tns:Lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLote" nillable="true" type="tns:ArrayOfLote" />
</xs:schema>